#appbar {
  padding: 0.75rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--dark);
  /* background-color: var(--light); */
  color: var(--light);
  height: 4rem;
  /* color: var(--dark); */
}

#appbar h2 {
  margin: 0.125rem 1rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.hamburger {
  display: none;
  width: max-content;
  padding: 0.125rem;
}

.hamburger div {
  width: 25px;
  height: 2px;
  background-color: var(--light);
  /* background-color: var(--dark); */
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}