@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap');

.list-container {
  min-height: 15rem;
  color: var(--dark-medium);
  background-color: var(--light);
  padding: 1.5rem;
  margin-right: 2rem;
  border-radius: 0.375rem;
  box-shadow: -5px 5px 10px rgb(0 0 0 / 15%);
}

.list-container h4 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  /* border-bottom: 0.125px solid var(--dark-medium); */
}

.list-links {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.list-links a {
  text-decoration: none;
  /* color: var(--dark); */
  color: #c7254e;
  background-color: #f9f2f4;
  width: max-content;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0.5rem 0;
}

.url-form {
  margin: 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

input[type='url'] {
  font-family: 'Inter', sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  color: var(--dark-medium);
  background-color: transparent;
  border-color: transparent;
  border: 0.125rem solid #2c2b3375;
  border-radius: 0.375rem;
  outline: none;
  padding: 0.5rem;
  height: 2.5rem;
  width: 50%;
}

input[type='url']:focus {
  outline: none;
}

input[type='url']::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.375rem;
}

input[type='submit'] {
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0 2rem;
  padding: 0.75rem 1.25rem;
  background-color: var(--dark);
  color: var(--light);
  border: none;
  /* border-radius: 0.375rem; */
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

input[type='submit']:hover {
  box-shadow:  2px 2px 4px rgb(0 0 0 / 60%);
  transition: all 0.1s ease;
}

input[type='submit']:focus {
  outline: none;
}