.list-container.toggle {
  min-height: 0;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-size: 75%;
}

.list-container.toggle h4 {
  margin: 0;
}

.settings-checkbox {
  display: flex;
  flex-direction: column;
}

.settings-checkbox label{
  font-size: 1.25rem;
  /* font-family: 'JetBrains Mono', monospace; */
  font-family: 'Inter', monospace;
  font-weight: 500;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 1rem;
}

input[type='checkbox'][checked='false'] {
  color: grey;
}

input[type='submit'][value="Save"] {
  width: max-content;
  margin: 1rem 0.25rem;
}
