@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.side-drawer {
  height: 100%;
  background-color: var(--dark);
  color: var(--light);
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  z-index: 200;
  /* box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5); */
  border-right: 1px var(--dark) solid;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-drawer.open {
  transform: translateX(0);
}

.logo-row a {
  margin: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--light);
}

.logo-row h2 {
  margin: 0 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Berkshire Swash', cursive;
}

.logo-row img {
  width: 2.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem;
}

.link a {
  display: flex;
  color: var(--light);
  text-decoration: none;
  align-items: center;
  padding: 1rem 1.5rem;
}

.link a:hover {
  background-color: var(--light);
  color: var(--dark);
}

.link a svg {
  font-size: 1.25rem;
}

.link a h3 {
  margin: 0 0.75rem;
  font-weight: 400;
  font-size: 1.375rem;
}

#settings {
  margin: 0.5rem;
  
}